body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2d2133;
    font-size: 14px;
}

.container {
    width: 90%;
    max-width: 1200px; /* Largura máxima para a box */
    padding: 20px;
    background-color: lightgray;
    border: 2px solid lightgray; /* Borda para dar destaque à box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
    border-radius: 10px; /* Bordas arredondadas */
}

.other-container {
    width: 90%;
    max-width: 1200px; /* Largura máxima para a box */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid black; /* Borda para dar destaque à box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
    border-radius: 10px; /* Bordas arredondadas */
}

.note {
    font-size: 13px;
    color: darkblue;

    width: 90%;
    max-width: 1200px; /* Largura máxima para a box */
    padding: 1px;
    background-color: darkgray;
    border: 1px solid black; /* Borda para dar destaque à box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para efeito de profundidade */
    border-radius: 10px; /* Bordas arredondadas */
}

.number-input {
    width: 50px;
}
.text-input {
    width: 100px;
}


